input[type="file"] {
    display: none;
}

img {
    width: 1000px;
    height: 988px;
}

button,
label {
    width: 350px;
}

.card-container {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}
