{% extends 'base.html' %} {% block content %}
<!-- Navigation Bar -->
<div class="navbar navbar-light bg-light">
    <h1 class="navbar-brand">Glioma Brain Tumor Identification Website</h1>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" />
</div>
<!-- End of Navigation Bar -->

<!-- Website Card -->
<div style="width: 100%; margin-top: 75px; margin-bottom: 75px">
    <div class="card mx-auto" style="width: 25rem">
        <div class="card-body">
            {% if file != None %}
            <img
                class="img-thumbnail"
                src="{{url_for('retrieve_image', filename=file)}}"
                alt="MRI Scan Image Display"
            />
            <h1>"1"</h1>
            {% else %}<img
                class="img-thumbnail"
                src="../static/blank-image.jpg"
                alt="MRI Scan Image Display"
            />
            <h1>"2"</h1>
            {% endif %}

            <h3 class="card-title">Result:</h3>
            <form
                method="POST"
                action="upload_image"
                enctype="multipart/form-data"
            >
                <label class="btn btn-primary" for="image-upload"
                    >Upload Image</label
                >
                <input id="image-upload" type="file" name="file" />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- End of Website Card -->
